extends layout

block header
    link(rel='stylesheet' href='/css/home.css')
block content
    section.todohome
        header
            h1 todos
        section
            h2 todos helps you get things done
            a.button(href='/login') Sign in