extends layout

block header
    link(rel='stylesheet' href='/css/login.css')
block content
    section.prompt
        h3 todos
        h1 Sign in
        if hasMessages
            section.messages
                each message in messages
                    p= message
        form(action='/login/password' method='post')
            section
            label(for='username') Username
            input#username(name='username' type='text' autocomplete='username' required='' autofocus='')
            section
            label(for='current-password') Password
            input#current-password(name='password' type='password' autocomplete='current-password' required='')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(type='submit') Sign in
        hr
        p.help
            | Don't have an account? 
            a(href='/signup') Sign up
